<!DOCTYPE html>
<html>
  <head>
    <title>Mgt</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons", media: "all", "data-turbolinks-track" => "reload" %>
  </head>
  <body>
    <div class="container">
     <div class="wrapper row">
          <aside class="col-6 ms-col-img">
              <figure id="background">
                  <span class="ms-page"></span>
                  <%= image_tag("mike_@lovett-productions.jpg", width:'100%', height: '100%') %>
              </figure>
          </aside>
          <section class="col-6 ms-col-text">
            <header id="header" class="page-topbar main-header">
                <%= render 'layouts/top_menu' %>
            </header>
            <div class="content ">
              <%= yield %>
            </div>
          </section>
      </div>
        <div class="clearfix"></div>
      <div class="wrapper">
        <div class="lowersection">
            <!-- LOWER SECTION DIV -->
            <div class="language">
                <p class="quote">"And in the end, it's not the years in your life that counts. It's the life in your years."</p>
                <p class="lincoln">- Abraham Lincoln</p>
                  <br>
                <p>To honor Michael and keep his passion of working in film and television alive and helping other dreamers fulfill their goals, a scholarship fund called the Michael G. Thibodeau Jr. Memorial Scholarship has been created in his honor at his alma mater,
                Savannah College of Art & Design (SCAD) by his parents, Barbara and Michael Thibodeau, Sr.</p>
                <br>
                <p>If we reach $25,000.00 in donations, the fund will be endowed and will live on in Michael's name, growing and providing more and more scholarship awards to countless future generations of students that share Michael's passion.</p>
                <p>For more details, please contact Tish Campbell, Executive Director of Giving at SCAD at lcampbel@scad.edu or (404) 253 5421</p>
                <br>
                <p>If you’d like to send a check please make it out to SCAD and write the name of the scholarship in the notes field.</p>
                <p>Checks can be mailed to: SCAD Giving department, Attention Tish Campbell, 1600 Peachtree St. NW, Atlanta, GA 30309</p>
                <br>
                <p>If you’d like to make a donation online, click the button bellow:</p>
            </div>
            <button onclick="location.href='https://web-ssl-2.scad.edu/banner/plsql/hwakgift.P_Index'" type="button" class="button uppercase" id="donate">Donate</button>

            <div class="instructions">
                <p>PLEASE NOTE: Under "Donation Information", select "Scholarship," then in the "Designate Donation To:" dropdown,
                  choose the "Michael G. Thibodeau Jr. Memorial Scholarship."</p>
            </div>
          </div>
      </div> <!-- Close wrapper -->
    </div>

  </body>
</html>
